<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <body>
<div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="#">
                <img src="/media/images/site-images/Logo_Kodland.png" width="190" height="72.28" class="d-inline-block" alt="">
            </a>
          <div class="collapse navbar-collapse" id="main-navigation">
              <span class="navbar-text" href="">Блог</span>
          </div>
            <div>
                <ul class="navbar-nav ml-auto align-items-center">
                  <li class="nav-item">
                    <a class="nav-link" href=""><img src="/media/images/site-images/email.svg"></a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href=""><img id="uchenik" class="rounded-circle" src="/media/images/site-images/Uchenik.png"></a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href=""><img src="/media/images/site-images/logout.svg"></a>
                  </li>
                </ul>
          </div>
        </nav>
  </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>